*{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(139, 0, 79);

}
.sam{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
h2{
    color: white;
}
.ojo{
    margin: 0 auto;
    text-align: center;
}